
.anh1 p {
    position: absolute;
    z-index: 3;
    top: 196px;
    left: 146px;
    font-size: 38px;
    color: white;
    /* text-align: center; */
}

.anh1 .xam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background: black;
    z-index: 2;
    opacity: 0.5;
    transition: 0.5s;
}

.divanh {
    display: flex;
    width: 100%;
}

.anh1 {
    width: 47%;
    height: 380px;
    position: relative;
    padding-left: 41px;
    overflow: hidden;
}

.benphaind .maukhuat {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background: black;
    z-index: 2;
}

.button p {
    padding-top: 11px;
}

.button {
    width: 211px;
    height: 43px;
    background: black;
    color: white;
    padding: 0px;
    text-align: center;
    margin: 31px;
    transition: 0.5s;
}

.button:hover {
    color: black;
    background: gray;
}

p.nd {
    font-family: serif;
    width: 62%;
    margin: 31px;
}

.benphaind {
    width: 30%;
    position: relative;
}

p.tieudend {
    margin: 32px;
    font-size: 29px;
}

.bentraind {
    padding: 20px;
    width: 70%;
}

.nd1 {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.divtrang:hover p {
    color: gray;
}

.divtrang {
    margin: 39px;
    border-bottom: 1px solid;
    width: 143px;
}

p.chu2 {
    font-size: 50px;
}

.anh .mau {
    position: absolute;
    z-index: 2;
    top: 0;
    background: black;
    left: 0;
    width: 47%;
    height: 100%;
    opacity: 0.5;
}

.tieude {
    position: absolute;
    top: 210px;
    left: 182px;
    z-index: 3;
    color: white;
    font-size: 33px;
    line-height: 63px;
}

.anh {
    width: 100%;
    height: 700px;
    position: relative;
}

.anh img {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
img {
    float: left;
    padding: 15px 55px;
}

.anh1 img {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.benphaind img {
    padding: -6px;
    width: 133%;
    margin-left: -223px;
}
.zoom {
    transition: 1s;
}

.anh1:hover .xam {
    opacity: 0;
}

.anh1:hover .zoom {
    transform: scale(1.2);
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
nav{
  background: black;
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 70px;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  background-image: cover;
  margin-left: -50px;
  margin-top: -10px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: black;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.footter{
    width: 100%;
    height: 150px;
    background: black;
    position: relative;
}
.footter img{
    padding-left: 30px;
    margin-top: 30px;
}
.footter ul{
    display: inline-block;
}
.footter ul li{
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
    margin: 0 10px;
}
.footter ul li a{
    color: white;
    text-decoration: none;
    font-family: serif;
}
.footter ul li:hover a{
    border-bottom: 1px solid #fff;
}
.footter p{
    font-family: serif;
    color: white;
    margin-top: 20px;
    margin-left: 50px;

}
