
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
nav{
  background: black;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  background-image: cover;
  padding-left: 0px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: black;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input.input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.hero{
	height: 100%;
	width: 100%;
	background: #222;
	position: absolute;
	background-size: cover;
	background-position: center;
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.button-box .Register{
	align-items: center;
	text-align: center;
	background: linear-gradient(to right,#ff105f,#ffad06);
	margin-top: 20px;
	border-radius: 30px;
	height: 25px;
	display: block;
}
.social-icons{
	margin: 30px auto;
	text-align: center;
}
.social-icons i{
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius: 50%;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 288px;
	transition: .5s;
}
.input-filed{
	width: 100%;
	padding: 10px  0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right,#ff105f,#ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
	margin-left: 70px;
}
.check-box{
	margin: 30px 10px 30px 0;
}
span.check{
	color: #777;
	font-size: 12px;
	bottom: 64px;
	position: absolute;
}
.footter{
    width: 100%;
    height: 150px;
    background: black;
    position: absolute;
    margin-top:550px;
}
.footter img{
    width: 6%;
    height: 35%;
    padding-left: 30px;
    margin-top: 30px;
}
.footter ul{
    display: inline-block;
}
.footter ul li{
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
    margin: 0 10px;
}
.footter ul li a{
    color: white;
    text-decoration: none;
    font-family: serif;
}
.footter ul li:hover a{
    border-bottom: 1px solid #fff;
}
.footter p{
    font-family: serif;
    color: white;
    margin-top: 20px;
    margin-left: 50px;

}